@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.is-vertical-center {
    display: flex;
    align-items: center;
}

th:hover {
    background-color: hsl(0, 0%, 98%);
}

.table-container {
    margin: auto
}
  

$grey-light: #ECECEC;
$grey-lighter: #F5F5F5;
$red: #D20A0A;

$family-sans-serif: 'Roboto', sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: $grey-light;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-height: 5rem;

@import "../../node_modules/bulma/bulma.sass";